*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: black;
}

footer{
    position: relative;
    bottom: 20px;
    margin-top: 79vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
        height: 90%;
    }
    footer{
        margin-top: 50vh;
        width: 70%;
        height: 80%;
        font-size: 1.5em;
        position: relative;
        margin-top: 20px;
    }
}

