*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;;
}

button{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
    font-size: 1rem;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    perspective: 800px; 
}

.main{
    margin: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    display: inline-block;
    transition: transform 1s ease;
    transform-style: preserve-3d;
    animation: flipColor 10s infinite linear;
   
}

   @keyframes flipColor {
    0% {
        transform: rotateY(0deg);
        color: blue;
    }
    20% {
        transform: rotateY(72deg);
        color: indigo; 
    }
    40% {
        transform: rotateY(144deg);
         color: blue;
    }
    60% {
        transform: rotateY(216deg);
        color: purple;
    }
    80% {
        transform: rotateY(288deg);
        color: white;
   }100% {
        transform: rotateY(360deg);
        color: darkblue;
    }
   }
      
  .flip {
    transform: rotateY(360deg);
  }

.contact{
    margin:-200px auto;
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
    font-size: 1rem;
}
 


@media screen and (max-width: 600px) {
    main{
        width: 90%;
        position: absolute;
        height: auto;
        font-size: 1.2em;
        margin-top: 0px;
    }
}