*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;;
}
html, body{
    height: 100%;
}

button{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
    font-size: 1rem;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    perspective: 800px; 
}

.main{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    display: inline-block;
    transition: transform 1s ease;
    transform-style: preserve-3d;
    animation: flipColor 10s infinite linear;
   
}

   @keyframes flipColor {
    0% {
        transform: rotateY(0deg);
        color: white;
    } 
    25% {
        transform: rotateY(90deg);
        color: blue;
    }
    50% {
        transform: rotateY(180deg);
        color: indigo;
    }
    75% {
        transform: rotateY(270deg);
        color: blue;
    }
    100% {
        transform: rotateY(360deg);
        color: white;
    }
     
   }
      
  .flip {
    transform: rotateY(360deg);
  }


.contact{
    margin:-120px auto;
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
    font-size: 1rem;
}
 


@media screen and (max-width: 650px) {
    main{
        width: 90%;
        position: absolute;
        height: 80%;
        font-size: 1.2em;
        margin-top: 0px;
    }
}